#impressum {
    color: #028482;
    background-color: #7ABA7A;
    padding-left: 3%;
}

.disclaimer {
    font-size: medium;
    background-color: #7ABA7A;
    color: #B76EB8;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
    vertical-align: middle;
}

#registrierungscontainer {
    margin-bottom: 4%;
}

#gameheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
}

#lobbyheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
}

#gamelist {

}

#message {

}

#lobbycontent {
    margin-left: 3%;
}

#gamerelevantcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamematchup {
    text-align: center;
}

#gamecontainer {
    display: flex;
    justify-content: center;
}

#gamecontainer td {
    border: solid ;
    border-color: blue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.spieler1 {
    background-color: red;
}

.spieler2 {
    background-color: yellow;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.black {
    background-color: darkgray;
}

.white {
    background-color: lightgray;
}

.neutral {
    background-color: white;
}

#avatar {
    height: 100px;
}

#avatar img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#userdatacontainer {
    display: flex;
    flex-direction: row;
}
