#impressum {
    color: #028482;
    background-color: #7ABA7A;
    padding-left: 3%;
}

html {
    background: url(../bilder/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: rgba(0,0,0,0);
}

.container {
    background: whitesmoke;
    border-radius: 10px;
}

.disclaimer {
    font-size: medium;
    background-color: #7ABA7A;
    color: #B76EB8;
    text-align: center;
    height: 100px;
    vertical-align: middle;
}

#registrierungscontainer {
    margin-bottom: 4%;
    padding-bottom: 1%;
}

#logincontainer {
    margin-bottom: 4%;
    padding-bottom: 1%;
}

#gameheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
}

#lobbyheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
}

#accountheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
}

#gamelist {

}

#message {

}

#lobbycontent {
    margin-left: 25%;
}

#gamerelevantcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamematchup {
    text-align: center;
}

#gamecontainer {
    display: flex;
    justify-content: center;
}

#gamecontainer td {
    border: solid ;
    border-color: blue;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#userdatacontainer {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7ABA7A;
    padding-left: 3%;
    padding-right: 3%;
    width: 30%;
}

.changemessages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: whitesmoke;
    padding-left: 3%;
    padding-right: 3%;
    height: 5%;
}

.spieler1 {
    background-color: red;
}

.spieler2 {
    background-color: yellow;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.black {
    background-color: darkgray;
}

.white {
    background-color: lightgray;
}

.neutral {
    background-color: white;
}

#avatar {
    height: 100px;
}

#avatar img {
    height: 100%;
    object-fit: contain;
}

#userdata {

}
